HOST=0.0.0.0
PORT=3000
FROMME=1
STORE=1

API_KEY=
WEBHOOK=

# Formato: major,minor,revision (ex: 2,3000,1023223821)
# Se não definido, usa a versão mais recente automaticamente
WA_VERSION=

WHISPER_PORT=3002
WHISPER_MODEL=small

# WABA - WhatsApp Business Account API
WABA_BASE_URL="https://graph.facebook.com"
WABA_GRAPH_VERSION="v25.0"
WABA_APP_CLIENT_ID=
WABA_APP_CLIENT_SECRET=
